.movies-card-list {
  box-sizing: border-box;
  width: calc(100% - 2 * 70px);
  min-height: calc(100vh - 488px);
  margin: 0 auto;
  padding: 70px 0 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(364px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 37px;
}

.more-button__container {
  min-height: 166px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-button {
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #f9f9f9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (max-width: 1279px) {
  .movies-card-list {
    width: calc(100% - 2 * 30px);
    gap: 25px;
    grid-template-columns: repeat(2, minmax(339px, 1fr));
    padding-bottom: 30px;
  }

  .more-button__container {
    width: calc(100% - 2 * 30px);
  }
  .more-button{
    padding: 50px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    width: calc(100% - 2 * 10px);
    gap: 14px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    padding: 40px 0 30px 0;
    margin: 0;
  }

  .more-button__container {
    width: calc(100% - 2 * 10px);
  }

  .more-button {
    width: 240px;
  }
}
