.movies-card {
  width: 100%;
  max-width: 360px;
  min-height: 319px;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.movies-card__info {
  display: flex;
  justify-content: space-between;
  margin: 18px;
}
.movies-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0 14px 0 0;
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.movies-card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #a0a0a0;
  margin: 0;
}
.movies-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 0 18px;
}
.movies-card__button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  background-color: #f9f9f9;
  width: 100px;
  height: 29px;
  border-radius: 30px;
  border: none;
  align-self: center;
}

.movies-card__add-button_active {
  background-image: url(../../images/button-add__active.svg);
  background-color: #ff4062;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

.movies-card__delete-button {
  background-image: url(../../images/button-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .movies-card {
    min-height: 309px;
  }

  .movies-card__image {
    height: 190px;
  }

  .movies-card__title {
    margin: 14px 0 15px;
  }

  .movies-card__name {
    max-width: 224px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    min-height: 271px;
    justify-self: center;
  }
  .movies-card__info {
    margin: 14px;
  }
  .movies-card__image {
    height: 168px;
    margin: 0 0 14px;
  }

  .movies-card__title {
    margin: 14px 0 14px;
  }
  .movies-card__name {
    max-width: 200px;
  }
}
