.profile__container {
  box-sizing: border-box;
  max-width: 410px;
  min-height: 626px;
  margin: auto;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile__welcome {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.profile__info {
  width: 100%;
}

.profile__info-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
}

.profile__input {
  border: none;
  text-align: right;
  min-width: 310px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.profile__info-container:last-of-type {
  border: none;
  margin: 0;
  padding: 0;
}

.profile__info-container > label {
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
  color: #000000;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__button {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.7;
}

.profile__button_type_exit {
  color: #ff4062;
  margin-top: 16px;
}
@media screen and (max-width: 1279px) {
    .profile__container {
        min-height: 950px;
        padding: 236px 0 269px;
    }
}

@media screen and (max-width: 767px) {
    .profile__container {
        min-height: 706px;
        max-width: 260px;
        padding: 70px 0 40px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__input {
        min-width: 200px;
    }

}