.search {
  min-height: 217px;
  display: flex;
  align-items: center;
}

.search__form {
  position: relative;
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
}

.search__input-container {
  position: relative;
  margin: 0 0 32px;
}

.search__input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 48px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.search__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
}

.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-radius: 48px;
  width: 80px;
  height: 34px;
  background-image: url(../../images/search__button.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.search__checkbox-container {
  display: flex;
}

.checkbox__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 0 14px;
}

.filter-checkbox {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-checkbox__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  border-radius: 20px;
  transition: 0.4s;
}

.filter-checkbox__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #2be080;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.4s;
  box-sizing: border-box;
}

.filter-checkbox__input:checked + .filter-checkbox__slider:before {
  transform: translateX(16px);
}

@media screen and (max-width: 1279px) {
  .search {
    min-height: 237px;
  }

  .search__form {
    width: calc(100% - 2 * 30px);
  }

  .search__checkbox-container{
    justify-content: end;
  }
  .search__input-container{
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .search__form {
    width: calc(100% - 2 * 14px);
  }

  .search__input {
    min-height: 56px;
    padding-left: 12px;
  }

  .search__button {
    right: 6px;
    width: 80px;
    height: 34px;
  }

  .search__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .search__input-container {
    margin-bottom: 30px;
  }

  .checkbox__title {
    font-size: 11px;
  }
  .search__checkbox-container{
    justify-content: center;
  }
  .search__input-container{
    margin: 0 0 41px;
  }
}
