.header__main {
  background-color: #f3c1f8;
}

.header__container {
  max-width: 1280px;
  min-height: 74px;
  display: flex;
  margin: auto;
  align-items: center;
  width: calc(100% - 70px * 2);
}

.header__content {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 70px * 2);
}

@media screen and (max-width: 1279px) {
  .header__container {
    width: calc(100% - 30px * 2);
  }

  .header__content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    /* max-width: 320px; */
    width: calc(100% - 14px * 2);
  }
  .header__content {
    width: calc(100% - 14px * 2);
  }
}
